#ajax_response{margin-bottom:15px;font-weight:bold}
#ajax_response .msg{color:blue}
#ajax_response .err{color:red}
main{display:block}
label{display:block;margin-bottom:5px}
label span.title {display:inline-block;width:120px;margin-right:5px;text-align:right}
label span.err {color:red}